* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffff;
    max-width: 1280px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

li a {
    border-radius: 12px;
    color: rgb(65, 53, 53);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul {
    display: flex;
}

li a:hover {
    background-color: #5f4b4f;
}