* {
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  #ffff;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(65, 46, 46);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #5f4b4f;
  }
  
  .logo img {
    width: 100px;
  }

  section {
    display: grid;
    padding: 10px;
    height: 70vh;
    grid-template-columns: 1fr;
  }