* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  #ffffff;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    border-radius: 12px;
    color: rgb(65, 53, 53);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #5f4b4f;
  }
  
  .logo img {
    width: 100px;
  }

  section {
    display: grid;
    height: 70vh;
    grid-template-columns: 1fr 1fr;
  }

 .main-logo {
   align-items: center;
   height: 75px;
 }
