* {
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  #ffffff;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    border-radius: 12px;
    color: rgb(65, 53, 53);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #5f4b4f;
  }
  
  .logo img {
    width: 100px;
  }

  section {
    display: grid;
    height: 70vh;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
  }

 /* .main-logo {
   align-items: center;
   height: 75px;
 } */
 
.tamanho img {
  height: 350px;
  width: auto;
}
tamanho {
  display: flex;
  justify-content: center;
 }

 .produto img {
  width: 20%;
  height: auto;
  display: flex;
  justify-content: space-between;
}