* {
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  #ffff;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(65, 46, 46);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #5f4b4f;
  }
  
  .logo img {
    width: 100px;
  }

 .main-logo {
   align-items: center;
   height: 75px;
 }

/* ----Carol ------*/


/*.container-contatos{
    display:grid;
    grid-template-rows: reteat autofill(1fr)
}*/

 /*.contato-pagina{
    border: 4px solid pink;8
    display: grid;
    grid-template-rows: 1fr 1fr 2fr ;
    gap: 4%; 
    align-items:center;
    text-align: center;
    justify-content: space-evenly;
   padding-right: 16%;
    padding-left: 16%;
    padding-top: 16%;
    padding-bottom: 16%;
 }*/
/*
 .contato-pagina{

 }

.area-texto-cliente{
    justify-items: stretch;
    width: 200px;
    height: 150px;
    resize: none;
    border: 1px solid gray;
}
*/
.contato-pagina{
  height: calc(100vh - 150px);
  display:flex;
  justify-content:center;
  align-items: center;
  flex-direction:column;
}

.contato-titulo{
    text-align:center;
    font-size:x-large;
}

input{
  display:block;
  border:none;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.formulario{
  display:flex;
  justify-content:center;
}

form{
  width: 50%;
}

textarea{
  max-width: 200px;
  max-height: 150px;
}

label{
  padding: 10px;
}